<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/articles">
        <span>PIETRA</span>
    </a>
    <a class="p-link layout-topbar-menu-button layout-topbar-button" alt="botão de ações"
       title="botão de ações" (click)="op.toggle($event)">
        <i class="pi pi-bars"></i>
    </a>
    <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
        <i class="pi pi-bars cursor-pointer" (click)="op.toggle($event)"></i>
        <p-overlayPanel #op>
            <ng-template pTemplate>
                <div (click)="logout()" class="col-12 p-0 inline-flex cursor-pointer" alt="sair" title="sair">
                    <span> <i class="pi pi-times"></i> Sair</span>
                </div>
            </ng-template>
        </p-overlayPanel>
    </div>
</div>
