<div id="login-content">
    <div class="col-12 p-0 inline-flex height-100vh align-items-center">
        <div class="col-6 p-0 flex flex-column justify-content-around h-full">
            <div class="col-12 p-0 inline-flex justify-content-center">
                <span class="title">Molécula</span>
            </div>
            <div class="col-12 p-0 inline-flex justify-content-center">
                <span class="subtitle">Realize a gestão de riscos da sua empresa</span>
            </div>
            <div class="col-12 p-0 inline-flex justify-content-center">
                <img src="assets/layout/images/hackathon/image-login.svg" class="logo">
            </div>
        </div>
        <div class="col-6 p-0 flex flex-column justify-content-center h-full">
            <div class="col-12 p-0 content-password">
                <div class="col-12">
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText>
                    <label for="float-input">Entrar com o e-mail</label>
                </span>
                </div>
                <div class="col-12">
                    <span class="p-float-label">
                        <p-password id="float-password"></p-password>
                        <label for="float-password">Entrar com o e-mail</label>
                    </span>
                </div>
                <div class="col-12 inline-flex justify-content-end">
                    <span>Esqueceu a senha?</span>
                </div>

                <div class="col-12 inline-flex justify-content-center">
                    <button pButton pRipple type="button" label="Acessar"
                            class="p-button-raised p-button-success"></button>
                </div>
                <div class="col-12 inline-flex justify-content-center">
                    ____________________________ Ou acesse por: ____________________________
                </div>
            </div>
        </div>
    </div>
</div>
